.comand {
    background-color: #1F1F1F;
    background-image: url('/images/COMAND-BACK-IMAGE.png');

    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        text-align: center;
        color: #FFFFFF;
    }

    &__span {
        color: #DBA833;
    }

    &__cards {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    &__info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }

    &__subtitle {
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        text-align: center;
        color: #DBA833;
    }

    &__text {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #FFFFFF;
    }

    &__subtext {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #B9B9B9;
    }
}

@media only screen and (max-width: 500px) {
    .comand {
        &__cards {
            flex-direction: column;
        }
    }
}